/class01/nbproject/private/
/class01/build/
/class02/nbproject/private/
/class03/nbproject/private/
/class04/nbproject/private/
/class05/nbproject/private/
/class02/build/
/class04/build/
/class03/build/
/class05/build/
