/class01/nbproject/private/
/class01/build/
/class02/nbproject/private/
/class03/nbproject/private/
/class04/nbproject/private/
/class05/nbproject/private/
/class02/build/
/class04/build/
/class03/build/
/class05/build/
/class06/nbproject/private/
/class07/nbproject/private/
/class08/nbproject/private/
/class09/nbproject/private/
/class10/nbproject/private/
/class11/nbproject/private/
/class12/nbproject/private/
/class13/nbproject/private/
/class06/build/
/class07/build/
/class08/build/
/class09/build/
/class10/build/
/class11/build/
/class12/build/
/class13/build/
/calculator/nbproject/private/
/calculator/build/
/calculator/dist/
/DirectoriesList/DirectoriesList/nbproject/private/
/directorieslist/nbproject/private/
/directorieslist/build/
/DirectoriesList/nbproject/private/
/DirectoriesList/build/
/Minefield/nbproject/private/
/Minefield/build/
/Minefield/dist/
/mine/build/
/mine/nbproject/private/
/Minesweeper/dist/
/shapes/nbproject/private/
/shapes/build/
/shapes/dist/
